/*重設網頁數值*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*網頁身體的字體與顏色*/
body{
    font-family: sans-serif;
    background: white;
}


header{
    text-align: center;
    padding: 20px;
}


/*主要內容區塊背景、內距、圓角*/
main{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
}


/*個人內容區，用flex排版，gap=間距*/
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}
/*圖片大小與圓角*/
.profile img{
    width: 450px;
    border-radius: 10px;
}



/*文字樣式*/
.info{
    font-size: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}


/* 主主要敘述區 */
.text-box{
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}



/*上方標題(導覽列)*/
.nav{
    background:blueviolet;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:15px 30px;
    border-radius: 10px 10px 0 0;
}

.nav h1{
    font-size:24px;
    letter-spacing:2px;
}

.nav a{
    color:yellow;
    text-decoration:none;
    font-weight:600;
}

.nav a:hover{
    color:white;
}


/*座右銘*/
.hero{
    text-align: center;
    margin: 30px 0;
    color:gold; 
}

.hero h2{
    font-size: 32px;
    font-weight: 700;
}